<!DOCTYPE html>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">  
<meta charset="utf-8">
<style>

.arc text {
  font: 10px sans-serif;
  text-anchor: middle;
}

.arc path {
  stroke: #fff;
}

</style>
<nav class="navbar navbar-expand navbar-light bg-light" style="font-size:15px">
    <div class="nav navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/">Scatter Plot</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/histo">Nutrient Distributions</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/cereal">Cereal Comparison</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/best">Cereal Composition</a>
      </li>
    </div>
</nav>
<div class="container">
    <h6>Composition of </h6>
    <button id="avg" class="btn btn-outline-primary">The Average Cereal</button>
    <button id="high" class="btn btn-outline-primary">The Average Highly Rated Cereal*</button>
    <button id="mid" class="btn btn-outline-primary">The Average Average Cereal</button>
    <button id="low" class="btn btn-outline-primary">The Average Low Rated Cereal</button>
    <br>
    <br>
    <p>*Ratings based on healthiness</p>
  </div>
<svg width="960" height="500"></svg>

<script src="https://d3js.org/d3.v5.min.js"></script>
<script type="text/javascript" src="{{ url_for('static', filename='comp.js') }}""></script>