{% extends "home.html" %}

{% block style %}
<style>

.arc text {
  font: 14px sans-serif;
  text-anchor: middle;
}

.arc path {
  stroke: #fff;
}

</style>
{% endblock %}


{% block content %}

<div class="container">
    <h6>Composition of </h6>
    <button id="avg" class="btn btn-outline-primary">The Average of All Cereals</button>
    <button id="high" class="btn btn-outline-primary">The Average of Highly Rated Cereals</button>
    <button id="mid" class="btn btn-outline-primary">The Average of Mid-tier Cereals</button>
    <button id="low" class="btn btn-outline-primary">The Average of Low Rated Cereals</button>
    <br>
    <br>
    <p>*Ratings based on healthiness</p>
  </div>
<svg width="960" height="500"></svg>

<script src="https://d3js.org/d3.v5.min.js"></script>
<script type="text/javascript" src="{{ url_for('static', filename='comp.js') }}"></script>

{% endblock %}
