{% extends "home.html" %}

{% block style %}
  <style>
    body {
      font: 11px sans-serif;
    }

    .axis path {
      fill: salmon;
    }

    .label {
      font-size: 14px;
    }

  </style>

{% endblock %}

{% block content %}
<div class="container">
    <h5>X-Axis</h5>
    {% for field in fields %}
        {% if field=="Calories" %}
            <button id="{{field}}" class="btn btn-outline-primary">{{field}}</button>
        {% else %}
            <button id="{{field}}" class="btn btn-outline-primary">{{field}}</button>
        {% endif %}
    {% endfor %}
</div>

<script src="http://d3js.org/d3.v5.min.js" charset="utf-8"></script>
<script src="/static/bubble.js"></script>

{% endblock %}