<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">  
  <meta charset="utf-8">
  <title>Cereal</title>
  <style>
    body {
      font: 11px sans-serif;
    }

    .axis path {
      fill: salmon;
    }

    .label {
      font-size: 14px;
    }

  </style>
</head>
<body>

    <div class="container">
    <h5>X-Axis</h5>
    {% for field in fields %}
        {% if field=="Calories" %}
            <button id="{{field}}x" class="btn btn-outline-primary">{{field}}</button>
        {% else %}
            <button id="{{field}}x" class="btn btn-outline-primary">{{field}}</button>
        {% endif %}
    {% endfor %}
    <br>
    <br>
    <h5>Y-Axis</h5>
    {% for field in fields %}
        {% if field=="Protein" %}
            <button id="{{field}}y" class="btn btn-outline-primary">{{field}}</button>
        {% else %}
            <button id="{{field}}y" class="btn btn-outline-primary">{{field}}</button>
        {% endif %}
    {% endfor %}
    <br>
    <br>
    <div class="form-group">
    <h6>Filter By Brand</h6>
    <select multiple class="form-control" id="Brand">
      <option>American Home Food Products</option>
      <option>General Mills</option>
      <option>Kellogs</option>
      <option>Nabisco</option>
      <option>Post</option>
      <option>Quaker Oats</option>
      <option>Ralston Purina</option>
    </select>
    </div>
    <br>
    <br>
    <div class="form-check">
      <label class="form-check-label">
        <input type="checkbox" class="form-check-input" name="Jitte" id="jb" value="checkedValue" autocomplete="off"><h6>Jitter Data to see individual data points</h6>
      </label>
    </div>
  </div>  

    
    <script src="http://d3js.org/d3.v5.min.js" charset="utf-8"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='scatterplot.js') }}" ></script>


    <div id="data_viz"></div>

</body>
</html>
